<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ngCopix sample</title>

  <!-- Styles -->
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .form-group { margin-top: 30px; }
    #tester-wrapper { margin-top: 60px; }
    .success { margin-left: 20px; color: green; }
  </style>

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="../src/ngCopix.js"></script>
</head>
<body>

<div ng-app="ngCopixExampleApp">
  <div class="container" ng-controller="ngCopixAppController">
    <div class="page-header">
      <h1>ngCopix <small>example</small></h1>
    </div>

    <form>
      <div class="form-group">
        <label for="field1">Example #1 - Basic copy from field using execCommand</label>
        <input id="field1" type="text" class="form-control" placeholder="Enter text to copy" ng-model="field1">
      </div>
      <button class="btn btn-default" copix-range="field1">Copy</button>

      <div class="form-group">
        <label for="field2">Example #2 - Shows a friendly message after copied</label>
        <input id="field2" type="text" class="form-control" placeholder="Enter text to copy" ng-model="field2">
      </div>
      <button class="btn btn-default" copix-range="field2" copix-after-copied="showFriendlyMessage()">Copy</button>
      <span class="success" ng-show="showSuccessMessage">Successfully copied!</span>

      <div class="form-group">
        <label for="field3">Example #3 - Copy with fallback for users with Safari (or old browsers)</label>
        <input id="field3" type="text" class="form-control" placeholder="Enter text to copy" ng-model="field3">
      </div>
      <button class="btn btn-default" copix-range="field3" copix-fallback="fallback(copy)">Copy</button>

      <div class="form-group">
        <label>Example #4 - Copy from scope variable by clicking a link</label>
        <p><strong>Link:</strong> {{ sampleUrl }}&nbsp;&nbsp;<a href="" copix-range="sampleUrl" copix-fallback="fallback(copy)">copy link</a></p>
      </div>

      <div id="tester-wrapper" class="form-group">
        <label for="tester">Copix tester:</label>
        <textarea id="tester" class="form-control" rows="3" placeholder="Paste copied text here"></textarea>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  var app = angular.module('ngCopixExampleApp', ['ngCopixboard']);

  app.controller('ngCopixAppController', function ($scope) {
    $scope.sampleUrl = 'https://github.com/peterbartha/ng-copix';
    $scope.showSuccessMessage = false;

    $scope.fallback = function(copy) {
      window.prompt('Press ctrl+c to copy the text below.', copy);
    };
    $scope.showFriendlyMessage = function() {
      $scope.showSuccessMessage = true;
    };
  });
</script>

</body>
</html>
